* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*removed . from beginning of header because no longer referencing a class*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*removed . from beginning of header because no longer referencing a class*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*removed . from beginning of header because no longer referencing a class*/
header h1 .seo {
    color: #d9dcd6;
}
/*changed to nav from div to style header nav buttons & above note*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*changed to nav from div to style header nav buttons & above note*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*CONSOLIDATED INTO "CONTENT DIV" FROM EACH INDIVIDUAL DIV IN FIRST SECTION*/
.content div {
    margin-bottom: 45px;
    padding: 50px;
    height: 380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 300px
}

.content h2 {
    margin-bottom: 20px;
    font-size: 46px;
}

.content div p {
    font: 24px;
    line-height: 1.5;
}

.benefits {
    margin-right: 50px;
    padding: 22px 2px;
    clear: both;
    float: right;
    width: 18%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    position: relative;
    right: 10px;
}

.benefits div {
    margin: 0px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
}

.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits div img {
    display: block;
    margin: 20px 30px 20px 30px;
    max-width: 150px;
    position: relative;
    left: 22px;
}

.benefits div p {
    line-height: 1.5;
    margin: 28px;
    padding: 0 0px 50px 0px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
